.image {
  max-width: 500px;
  max-height: 400px;
}

.w500 {
  width: 500px;
}

#carousel div button {
  background-color: #cccfd1 !important;
}

#carousel a span {
  background-color: #E7E9EB !important;
}