.image {
  max-width: 500px;
  max-height: 400px;
}

.mw400 {
  max-width: 400px;
}

.w50 {
  width: 50px;
}

.h50 {
  height: 50px;
}

.w500 {
  width: 500px;
}

.h400 {
  height: 400px;
}

.decorenone {
  text-decoration: none;
}

#carousel div button {
  background-color: #cccfd1 !important;
}

#carousel a span {
  background-color: #E7E9EB !important;
}